<footer class="footer-container">
  <div class="footer-content">

    <div class="footer-col">
      <h3>Contact Us !</h3>
      <div class="contact-item">
        <mat-icon>location_on</mat-icon>
        <p><strong>Address :</strong><br>
          Sr. No. 111/5/1, 5th Floor, Gala No. 501, Jijamata Pride, Near Jilha Satra Nyayala, Ghulewadi, Sangamner,
          Dist. Ahmednagar Pin - 422601, Maharashtra (INDIA)</p>
      </div>
      <div class="contact-item">
        <mat-icon>call</mat-icon>
        <p><strong>Customer Care No. :</strong> +91 7558 532115</p>
      </div>
      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <p><strong>Email Id :</strong> kurmayuayurveda@gmail.com</p>
      </div>
      <div class="contact-item">
        <mat-icon>language</mat-icon>
        <p><strong>Website :</strong> www.kurmayu.com</p>
      </div>
    </div>

    <div class="footer-col">
      <h3>Useful Links</h3>
      <ul class="footer-links">
        <li><a routerLink="/home">» Home</a></li>
        <li><a routerLink="/chairman">» Chairman Message</a></li>
        <li><a routerLink="/vision">» Vision Mission</a></li>
        <li><a routerLink="/products">» Products</a></li>
        <li><a routerLink="/plan">» Business Plan</a></li>
        <li><a routerLink="/banking">» Banking Details</a></li>
        <li><a routerLink="/contact">» Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Quick Links</h3>
      <ul class="footer-links">
        <li><a routerLink="/login">» Login</a></li>
        <li><a routerLink="/franchise">» Franchise Login</a></li>
        <li><a routerLink="/terms">» Terms & Conditions</a></li>
        <li><a routerLink="/privacy">» Privacy Policy</a></li>
        <li><a routerLink="/grievance">» Grievance</a></li>
        <li><a routerLink="/refund">» Refund and Returns Policy</a></li>
      </ul>
    </div>

    <div class="footer-col logo-col">
      <!-- <img src="assets/logo/logoA.png" alt="Riyansh Logo" class="footer-logo"> -->
      <img style="position: relative;
    left: 27%;" src="assets/logo/Kurmayu-logo.avif" alt="Kurmayu Logo" class="footer-logo">

      <div class="iso-text">ISO 9001 : 2015 CERTIFIED COMPANY</div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>Copyright © 2024 Kurmayu Multitrade Pvt. Ltd. All Rights Reserved.</p>
  </div>

  <a href="https://wa.me/917558532115" class="whatsapp-float" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
  </a>
</footer>